#MessageWrapper {
	max-height: 60%;
}
#CenterPage {
	background-color: white!important;
}
#Message_Sender {
	width: 55%;
	height: 100px;
	background-color: red;
	border:solid 1px black;
	position: fixed;
	bottom: 10px;
	margin-left: 0.35%;
}
#CenterPage {
	margin-left:0px !important;
}
#LeftPage{
	margin-right:0px !important;
}
div#history {
	width: 100%;
	min-height:600px; 
	background: white
}
.Title {
	font-size: 14px;
	color:black;
	padding: 3px;
	border:dotted 1px black
}
#ListHistory {
	max-width: 100%;
	max-height: 100%;
}
.ListItem {
	height:8%;
	border-radius: 4px;
	border-bottom: 2px solid black;
}
.ListItem:hover {
	background-color: #baa;
}
.active {
   background-color: azure!important;
}
.Preview {
	height: 75%;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	float:right;
	position: relative;
	right: 10px;
	top:10px;
}
span#name {
	font-weight: bold;
	font-size: 12px;
}
span#preview {
	font-size: 11px;
	padding-top: 5%;
}
#Message_Sender 
input[type="submit"] {
	background-color: yellow;
	float:right;
	font-size: 14px;
}
form label {
	font-size: 12px;
}
#contMsg {
	font-size: 12px;
	padding-left:5%;
}
.MsgSend {
 height: fill;
 width: 70%;
 border:solid 2px blue;
 background-color: #2E9AFE;
 border-radius: 4px;
 margin-bottom: 10px;
 display: block;
 float: left;

}
.TitleMsg {
	font-size: 12px;
	font-weight: bold;
	color:black;
}
.MsgGet {
  height: fill;
  width: 70%;
  border:solid 2px blue;
  background-color:#9FF781;
  border-radius: 4px;
  float:right;
  margin-bottom: 10px;
}
#idconf a {
	position: relative;
	top:30%;
	left: 20%;
}
#MsgDashBoard {
	width: 100%;
	height: 70%;
}
#add_txt_file {
	position: relative;;
	top:5px;
	width: 250px;
}
#add_txt_photo {
	position: relative;
	bottom: 9px;
	width: 270px;
}
#send_photo {
	display: block;
	position: relative;
	left:20%;
	bottom: 11%;
}
#l{
	position: relative;
	bottom: 15px;
}